<div class="canvas">
    <div class="main-div">
        <div class="title">
            <p>Cursos</p>
        </div>
        <div class="courses-div">
            @if (courses.length == 0){
                <p>
                    No hay cursos disponibles
                </p>
            }
            @for (course of courses; track course.id) {
                <div class="card">
                    <div class="card-image">
                        <img src="assets/course.png" alt="{{course.image}}">
                    </div>
                    <div class="card-title">
                        <p>
                            {{ course.name }}
                        </p>
                    </div>
                    <div class="card-description">
                        <p>
                            {{ course.description }}
                        </p>
                    </div>
                    <div class="button-div">
                        <button routerLink="{{ course._id }}">
                            Inscribirse
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>