.canvas{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem 0 3rem;
}

.profile-div img {
    height: 40px;
    border-radius: 50%;
}