<div class="navbar-container">
    <div class="logo">
        <a href="">
            <img src="assets/CodeDevLogo.png" alt="CodeDev Logo">
        </a>
    </div>
    <div class="nav-div">
        <ul class="list">
            <li>
                <a class="title" href="">
                    Cursos
                </a>
            </li>
            <li>
                <a class="title" href="">
                    Sesiones
                </a>
            </li>
            <li>
                <a class="title" href="">
                    Categorias
                </a>
            </li>
        </ul>
    </div>
    <div class="profile-div">
        <a href="">
            <img src="assets/Profile.png" alt="Profile">
        </a>
    </div>
</div>