<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
</head>
<body>
    <div class="canvas">
        <div class="nav-div">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" routerLink="">CodeDev</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="btn btn-secondary nav-link" aria-current="page" routerLink="/courses">Cursos</a>
                      </li>
                      <li class="nav-item">
                        <a class="btn btn-secondary nav-link" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sesiones</a>
                      </li>
                      <li class="nav-item">
                        <a class="btn btn-secondary nav-link" routerLink="mentors">Mentores</a>
                      </li>
                      <li class="nav-item">
                        <a class="btn btn-secondary nav-link" routerLink="/records" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Grabaciones</a>
                      </li>
                      <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class="dropbtn btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Categorias
                            </a>
                            <ul class="dropdown-content">
                              @if ( categories.length == 0){
                                <li><a>Action</a></li>
                              }
                              @for (category of categories; track category.id) {
                                <li><a>{{ category.name }}</a></li>
                              }
                            </ul>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
            <div class="profile-div">
              <a class="btn btn-secondary nav-link" (click) = "logOut()">
                Cerrar Sesión
              </a>
              <a>
                <img src="assets/Profile.png" alt="profile">
              </a>
            </div>
      </div>
    </div>
</body>
</html>