.canvas::-webkit-scrollbar{
    display: none;
}

.canvas{
    width: 100%;
}

.main-div{
    margin: 2rem 3rem 2rem 3rem;
    display: flex;
    flex-direction: row;
}

.course-div{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-description{
    p{
        margin-right: 5rem;
        text-align: justify;
    }
}

.course-title{
    font-size: 2rem;
    font-weight: bold;
}

.course-image {
    img {
        width: 90%;
        height: 30rem;
        border-radius: 10px;
    }
}