<div class="canvas">
    <div class="main-div">
        <div class="title">
            <h2>Registrate</h2>
        </div>
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="signup()">
            <div class="name-div">
                <div>
                    <input type="text" placeholder="nombre" formControlName="name">
                    <div class="error-div">
                        <ng-container *ngIf="controlTouched('name') && controlHasError('name', 'required')">
                            Ingrese su nombre.
                        </ng-container>
                        <ng-container *ngIf="controlTouched('name') && controlHasError('name', 'minLenght')">
                            Ingrese un nombre con más de 8 dígitos.
                        </ng-container>
                    </div>
                </div>
                <div>
                    <input type="text" placeholder="apellido" formControlName="last_name">
                    <div class="error-div">
                        <ng-container *ngIf="controlTouched('last_name') && controlHasError('last_name', 'required')">
                            Ingrese su apellido
                        </ng-container>
                        <ng-container *ngIf="controlTouched('last_name') && controlHasError('last_name', 'minLenght')">
                            Ingrese un apellido con más de 8 dígitos.
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="info-div">
                <div>
                    <input type="text" placeholder="correo electronico" formControlName="email">
                    <div class="error-div">
                        <ng-container *ngIf="controlTouched('email') && controlHasError('email', 'required')">
                            Ingrese su correo electrónico
                        </ng-container>
                        <ng-container *ngIf="controlTouched('email') && controlHasError('email', 'minLenght')">
                            Ingrese un correo electrónico con más de 8 dígitos.
                        </ng-container>
                    </div>
                </div>
                <div>
                    <input type="text" placeholder="teléfono" formControlName="phone">
                    <div class="error-div">
                        <ng-container *ngIf="controlTouched('phone') && controlHasError('phone', 'required')">
                            Ingrese su número de teléfono
                        </ng-container>
                        <ng-container *ngIf="controlTouched('phone') && controlHasError('phone', 'minLenght')">
                            Ingrese un número de teléfono con más de 8 dígitos.
                        </ng-container>
                    </div>
                </div>
                <div>
                    <input type="password" placeholder="contraseña" formControlName="password">
                    <div class="error-div">
                        <ng-container *ngIf="controlTouched('password') && controlHasError('password', 'required')">
                            Ingrese su contraseña.
                        </ng-container>
                        <ng-container *ngIf="controlTouched('password') && controlHasError('password', 'minLenght')">
                            Ingrese una contraseña con más de 8 dígitos.
                        </ng-container>
                    </div>
                </div>
                <div class="option-div">
                    <button type="submit" [disabled]="!form.valid" routerLink="courses">
                        Confirmar
                    </button>
                    <a routerLink="login">
                      Ya tienes una cuenta? 
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>